/******Fonts******/

@font-face{
    font-family: brockscript;
    src: url('BrockScript.ttf') format("truetype");
}

/******End Fonts******/

.heading{
    font-size: 4vh;
    color: #1f3c68;
    margin: 0px;
    padding-top: 30px;
    padding-bottom: 100px;
    
}
.col-lg-12{
    margin: 0px;
    padding: 0px;
}
/******Navbar******/
#navbar{
    width: 100%;
    transition: all 0.4s ease-in-out;
    
}
.nav-hide{
    padding-left: 20px;
    padding-right: 20px;
    top: -55px;
    background-color: rgb(255, 255, 255); /*for browsers that don't support CSS3*/
    background-color: rgba(255, 255, 255, 0.5);
}
.nav-show{
    padding-right: 20px;
    padding-left: 20px;
    top: 0px;
    background-color: rgb(234, 229, 255); /*for browsers that don't support CSS3*/
    background-color: rgba(234, 229, 255, 0.9);
}
.nav-border{
    border-bottom: 1px solid rgba(224, 221, 255); /*for browsers that don't support CSS3*/
    border-bottom: 1px solid rgba(224, 221, 255, 1);
}
.nav-no-border{
    border-bottom: 1px solid rgba(224, 221, 255); /*for browsers that don't support CSS3*/
    border-bottom: 1px solid rgba(224, 221, 255, 0);
}
#navbar .nav-link{
    color: #1f3c68;
    font-family: verdana;
    font-weight: bold;
    text-transform: capitalize;
    text-decoration: none;
}
#navbar .nav-link:hover{
    color: #2d5ba0;
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
#navbar .nav-link:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #2d5ba0;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
#navbar .nav-link:hover:before{
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}
#navbar-collapse{
    text-align: center;
}
.navbar-default .navbar-toggle, .navbar-default .navbar-toggle:hover{
    border: none;
    background: none;
    text-decoration: none;
}
.navbar-default .navbar-toggle a{
    color: #1f3c68;
}
.navbar-default .navbar-toggle a:hover{
    color: #2d5ba0;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out 0s;
}
/******End Navbar******/

/******Title******/

#title{
    background-color: #eae5ff;
    text-align: center;
    margin: auto;
    position: relative;
}
#my-name{
    font-family: brockscript;
    color: #1f3c68;
    margin-top: 150px;
    font-size: 8vh;
}
#description{
    font-family: verdana;
    color: #1f3c68;
    margin-top: 50px;
    font-size: 2vh;
    font-weight: bold;
}
.top-image-container{
    text-align: center;
}
.top-image{
    vertical-align: middle;
    bottom: 0px;
    margin: auto; 
}
.bottom-image-container{
    text-align: center;
    position: relative;
}
.bottom-image{
    bottom: 0px;
    margin: auto;
}

/******End Title******/

/******About******/

#about{
    background-color: #fff;
    text-align: center;
    margin: auto;
}

/******End About******/

/******Work******/

#work{
    background-color: #fff;
    text-align: center;
    margin: auto;
}
#portfolio{
    margin: auto;
}
.port-item, .front{
    margin: auto;
    color: #fff;
}
.port-item{
    background: url("http://placehold.it/1000x300");
    background-size: 70vw 40vh;
    padding: 0px;
    margin-bottom: 30px;
    width: 70vw;
    height: 40vh;
}
.front{
    vertical-align: middle;
    overflow: scroll;
    background: rgba(157, 182, 222, 0.8);
    
    transition: width 0.3s ease-in-out 0.1s;
}
.content-shown{
    width: 70vw;
    height: 40vh;
}
.content-hidden{
    width: 0vw;
    height: 40vh;
}
.desc-content{
    margin: auto;
    padding: 30px;
    text-align: left;
    
    position: relative;
}
.desc-title{
    margin: auto;
    padding: 30px;
    text-align: center;
    
    position: relative;
}
/******End Work******/

/******Contact******/

#contact{
    background-color: #eae5ff;
    text-align: center;
    margin: auto;
    color: #1f3c68;
}
#contact-title{
    color: #1f3c68;
    font-weight: bold;
    font-size: 1.2em;
}
.contact-list{
    list-style: none;
    font-size: 0.9em;
    margin-top: 30px;
    padding-left: 0px;
    text-align: center;
}
.contact-list li a{
    color: #1f3c68;
    font-weight: bold;
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
.contact-list li a:hover{
    color: #2d5ba0;
    text-decoration: none;
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
.btn-mail{
    color: #316132;
    margin: 15px;
}
.btn-mail:hover{
    color: #234624;
}
/******End Contact******/

/******To Top******/
.to-top{
    position: fixed;
    padding: 0px;
    margin: 0px;
    bottom: 15px;
    text-align: center;
    font-size: 25px;
    height: 50px;
    width: 50px;
    
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.to-top-visible{
    background: none;
    border: 3px solid #1f3c68;
    right: 10px;
}
.to-top-visible:hover{
    border-color: #2d5ba0;
}
.to-top-invisible{
    background: none;
    border: 3px solid #1f3c68;
    right: -60px;
}
.to-top a{
    margin-top: 7px;
}
#top-button-box .nav-link{
    color: #1f3c68;
    text-decoration: none;
    
    -webkit-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
}
#top-button-box .nav-link:hover{
    color: #2d5ba0;
}
/******End To Top******/