/******Fonts******/

@font-face{
    font-family: brockscript;
    src: url('BrockScript.ttf') format("truetype");
}
@font-face{
    font-family: lineal;
    src: url('Lineal Simples St.ttf') format("truetype");
}

/******End Fonts******/

.heading{
    font-size: 4vh;
    color: #1f3c68;
    margin: 0px;
    padding-top: 30px;
    padding-bottom: 50px;
    font-family: lineal;
    
}
.col-lg-12{
    margin: 0px;
    padding: 0px;
}
/******Navbar******/
#navbar{
    width: 100vw;
    transition: all 0.4s ease-in-out;
    
}
.nav-hide{
    padding-left: 20px;
    padding-right: 20px;
    top: -55px;
    background-color: rgb(255, 255, 255); /*for browsers that don't support CSS3*/
    background-color: rgba(255, 255, 255, 0.5);
}
.nav-show{
    padding-right: 20px;
    padding-left: 20px;
    top: 0px;
    background-color: rgb(234, 229, 255); /*for browsers that don't support CSS3*/
    background-color: rgba(234, 229, 255, 0.9);
}
.nav-border{
    border-bottom: 1px solid rgba(224, 221, 255); /*for browsers that don't support CSS3*/
    border-bottom: 1px solid rgba(224, 221, 255, 1);
}
.nav-no-border{
    border-bottom: 1px solid rgba(224, 221, 255); /*for browsers that don't support CSS3*/
    border-bottom: 1px solid rgba(224, 221, 255, 0);
}
#navbar .nav-link{
    color: #1f3c68;
    font-family: verdana;
    font-weight: bold;
    text-transform: capitalize;
    text-decoration: none;
}
#navbar .nav-link:hover{
    color: #2d5ba0;
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
#navbar .nav-link:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #2d5ba0;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
#navbar .nav-link:hover:before{
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}
#navbar-collapse{
    text-align: center;
}
.navbar-default .navbar-toggle, .navbar-default .navbar-toggle:hover{
    border: none;
    background: none;
    text-decoration: none;
}
.navbar-default .navbar-toggle a{
    color: #1f3c68;
}
.navbar-default .navbar-toggle a:hover{
    color: #2d5ba0;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out 0s;
}
.img-header{
    height: 50px;
    margin: auto;
}
/******End Navbar******/

/******Master Head******/

#masthead{
    background-color: #eae5ff;
    text-align: center;
    margin: auto;
}
#my-name{
    font-family: brockscript;
    color: #1f3c68;
    margin-top: 150px;
    font-size: 8vh;
}
#description{
    font-family: verdana;
    color: #1f3c68;
    margin-top: 50px;
    font-size: 2vh;
    font-weight: bold;
}
.top-image-container{
    text-align: center;
}
.top-image{
    bottom: 0px;
    margin: auto;
}
.bottom-image-container{
    text-align: center;
}
.bottom-image{
    position: relative;
    margin: auto;
}

/******End Master Head******/

/******About******/

#about{
    background-color: #fff;
    text-align: center;
    margin: auto;
    padding-bottom: 70px;
}
.triangle-purple{
    margin: auto;
    margin-top: -1px;
    margin-bottom: 15px;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #eae5ff;
}
.img-about{
    text-align: center;
    margin: auto;
}
.img-face{
    max-width: 200px;
    border-radius: 50%;
    border: 5px solid #5374A1;
}

/******End About******/

/******Work******/

#work{
    background-color: #5d68fe;
    text-align: center;
    margin: auto;
}
.triangle-white{
    margin: auto;
    margin-top: -1px;
    margin-bottom: 15px;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #fff;
}
.triangle-red{
    margin: auto;
    margin-top: -1px;
    margin-bottom: 15px;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #ff4c4c;
}
#portfolio{
    margin: auto;
}
.port-item{
    max-width: 100vw;
    padding-bottom: 30px;
    text-align: center;
    margin: auto;
    color: #fff;
}
.img-port{
    margin: auto;
}
#port1{
    background-color: #5d68fe;
    border-bottom: 1px solid #6448E2;
}
#port2{
    background-color: #00FFA2;
    border: 1px solid #00E08E;
}
#port3{
    background-color: #ff4c4c;
}
/******End Work******/

/******Contact******/

#contact{
    background-color: #eae5ff;
    text-align: center;
    margin: auto;
    padding-bottom: 15px;
    color: #1f3c68;
}
.triangle-blue{
    margin: auto;
    margin-top: -1px;
    margin-bottom: 30px;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #9FB6DA;
}
#contact-title{
    color: #1f3c68;
    font-size: 1.2em;
    font-family: lineal;
}
.contact-list{
    list-style: none;
    font-size: 0.9em;
    margin-top: 30px;
    padding-left: 0px;
    text-align: center;
}
.contact-list li a{
    color: #1f3c68;
    font-weight: bold;
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
.contact-list li a:hover{
    color: #2d5ba0;
    text-decoration: none;
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
.btn-mail{
    color: #316132;
    margin: 15px;
}
.btn-mail:hover{
    color: #234624;
}
.copyright{
    font-family: verdana;
    font-size: .7em;
}
/******End Contact******/

/******To Top******/
.to-top{
    position: fixed;
    padding: 0px;
    margin: 0px;
    bottom: 15px;
    text-align: center;
    font-size: 25px;
    height: 50px;
    width: 50px;
    
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.to-top-visible{
    background: none;
    border: 3px solid #1f3c68;
    right: 10px;
}
.to-top-visible:hover{
    border-color: #2d5ba0;
}
.to-top-invisible{
    background: none;
    border: 3px solid #1f3c68;
    right: -60px;
}
.to-top a{
    margin-top: 7px;
}
#top-button-box .nav-link{
    color: #1f3c68;
    text-decoration: none;
    
    -webkit-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
}
#top-button-box .nav-link:hover{
    color: #2d5ba0;
}
/******End To Top******/