/******Fonts******/

@font-face{
    font-family: brockscript;
    src: url('BrockScript.ttf') format("truetype");
}

/******End Fonts******/

.heading{
    font-size: 4vw;
    color: #1f3c68;
    margin-top: -15px;
    
}

/******Navbar******/

#navbar{
    position: absolute;
    width: 100%;
    background: none;
    border: none;
    margin-top: 20px;
    padding-right: 20px;
}
#navbar .nav-link, #navbar .divider{
    color: #1f3c68;
    font-family: verdana;
    font-weight: bold;
    text-transform: capitalize;
    text-decoration: none;
}
#navbar .nav-link:hover{
    color: #2d5ba0;
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
#navbar .nav-link:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #2d5ba0;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
#navbar .nav-link:hover:before{
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}
/******End Navbar******/

/******Title******/

#title{
    background-color: #eae5ff;
    text-align: center;
    margin: auto;
    position: relative;
}
#my-name{
    font-family: brockscript;
    color: #1f3c68;
    margin-top: 150px;
    font-size: 8vw;
}
.top-image-container{
    text-align: center;
}
.top-image{
    vertical-align: middle;
    bottom: 0px;
    margin: auto; 
}
.bottom-image-container{
    text-align: center;
}
.bottom-image{
    vertical-align: middle;
    bottom: 0px;
    margin: auto; 
}

/******End Title******/

/******About******/

#about{
    background-color: #fff;
    text-align: center;
    margin: auto;
}

/******End About******/

/******Work******/

#work{
    background-color: #fff;
    text-align: center;
    margin: auto;
}

/******End Work******/

/******Contact******/

#contact{
    background-color: #eae5ff;
    text-align: center;
    margin: auto;
    color: #1f3c68;
}
#contact-title{
    color: #1f3c68;
    font-size: 2vw;;
}
.contact-list{
    list-style: none;
    margin-top: 30px;
}
/******End Contact******/